/*
	Custom Queries
*/

/*
0. General Elements
1. Header Elements

100. Responsive Elements
101. xs
102. sm
103. md
104. lg
*/

/*0. General Elements*/




/*101. xs*/
@media (max-width: 767) {

}

/*102. sm*/
@media (min-width: 768px) and (max-width: 991px) {

}
/*103. md*/
@media (min-width: 992px) and (max-width: 1199px) {

}
/*104. lg*/
@media (min-width: 1200px) {

}